{% load static %}
<html lang="en" encoding="utf-8"?>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZ APP - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block style %}
    {% endblock style %}
    <style>
        .bg-image{
               background-image: url("{% static 'user/BG.jpg' %}");
        }

    </style>
    {% block img %}
    {% endblock img %}

</head>
<body>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-6 d-none d-md-flex bg-image"></div>
            <div class="col-md-6 bgGradient content-user">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</body>
</html>