{% extends "quizes/base.html" %}
{% load static %}

{% block img %}
        <link rel="shortcut icon" href="{% static 'quizes/logo.png' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'quizes/logo.png' %}" type="image/x-icon">
{% endblock img %}

{% block style %}
    <link rel="stylesheet" href="{% static 'quizes/style.css' %}?{% now 'U' %}">
{% endblock style %}

{% block title %}
CHANGE PASSWORD
{% endblock title %}
{% block username %}{{ request.user.username }}{% endblock username %}

{% block content %}

                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-xl-6 mx-auto">
                                <h3 class="display-4">CHANGE PASSWORD</h3> <br>
                                <form action="{% url 'user:change_password' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group mb-3"><input value="USER NAME: {{ request.user.username }}" name="username" type="text"  placeholder="Username" required disabled autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4"> </div>
                                    <div class="form-group mb-3"> <input name="password_old" type="password" placeholder="Old Password" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4"> </div>
                                    <div class="form-group mb-3"> <input name="password_new" type="password" placeholder="New Password" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4"> </div>
                                    <div class="form-group mb-3"> <input name="password_cofirm" type="password" placeholder="Confirm Password" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4"> </div>
                                    <p>{{ error }}</p>
                                    <button type="submit" class="btn btn-danger btn-block text-uppercase mb-2 rounded-pill shadow-sm">Save Change</button>
                                    <a href="{% url 'user:update' %}"><button type="button" class="btn btn-success btn-block text-uppercase mb-2 rounded-pill shadow-sm">Update Profile</button></a>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock content %}